@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia-Code-Regular';
    src: url('./fonts/CascadiaCode-Regular.otf') format('opentype');
}

body {
    font-family: 'Montserrat-Light', sans-serif;
}
.Titulo {
    font-family: 'Cascadia-Code-Regular', sans-serif;
}
.navbar-custom {
    background-color: #2F5597;
}
.banner-container {
    background-color: #2F5597; 
    color: white;
    padding: 1rem 0;
}
.banner-img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}
.text-justify 
{
    text-align: justify;
    hyphens: auto;
}

/**Login**/

.conte_log{
    width: 50%;
    height: 70%;
}
.modal_body{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn_inicio{
    width: 100%;
    margin-bottom:15px ;
}
.inputs{
    width: 100%;
    margin-bottom: 10px;
}
.lb_modal{
    font-size: 1rem;
    margin-bottom: 3px; 
    margin-top: 5px;
}
.titu_modal{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px
}

.texto_log_cont{
    color: black;
    text-align: right;
    font-size: 0.75rem;
    text-decoration: none;
    margin-top: 10px;
}
.texto_log_regis{
    color: black;
    text-align: center;
    font-size: 0.75rem;
    text-decoration: none;
    margin-top: 15px;
}
