.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #7F7F7F;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.nav-links {
    
    list-style: none;
    padding-top: 30px;
}